.event .title {
  text-align: center;
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px 8px black;
  margin-bottom: 10px;
}

.event .info {
  text-align: center;
  color: #F8C200;
  font-weight: 600;
}

.event .event-img {
  width: 100%;
}

.event .body {
  margin-top: 20px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px black;
}
