.lot-popup {
  margin: 0px 20px 17px 20px;
}

.lot-popup .title {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.lot-popup .title > h2 {
  font-size: 2.2rem;
}

.lot-popup .lot-button {
  margin: auto;
  display: block;
}
